
<h1><center>Write a New Review</center></h1>

<form method = "POST" action = "/reviews/new">
	<% @books.each do |book|%>
	<p><input type = "radio" name = "book_id" id = "<%=book.id%>" value = "<%=book.id%>"><b>Title:</b> <%=book.title%><br><b>Author:</b> <%=book.author%></p>
	<% end %>
	<p><input type = "text" name = "review" id = "review"></p>
	<input type = "submit" name = "submit" id = "submit" value = "Submit Your Review">
<p>
<% if flash.has?(:message) %>
  <font color = "red"><b><%= flash[:message] %></b></font>
<% end %>
</p>

</form>

