<center><h1>Reviews From Around the Library</h1></center>

<a href = "/books/add" class = "button">Add a New Book to the Library</a>

<p> <a href = "/reviews/new" class = "button">Review a Book</a> </p>

<p> <a href = "/users/<%=@user.username%>" class = "button">My Reviews</a></p>

<p><h2>All Reviews:</h2> <% @reviews.each do |review| %>
	<p><b>Username:</b> <%= review.user.username %></p>
	<p><b>Book Title: </b><a href = "/reviews/new/<%=review.book.slug%>"><%= review.book.title %></a></p>
	
	<p><b>Review Summary:</b> <%= review.summary %></p>
	<p><a href = "/reviews/<%=review.id%>" class = "button">View this Review</a>
	<% end %></p>

