<h1><center>View Book Reviews for <%=@book.title%></center></h1>
<center><h2>By: <%=@book.author%></h2></center>

<a href = "/reviews/new/<%=@book.slug%>">Write Your Own Review</a>

<% @reviews.each do |review| %>
<p><%= review.user.username %></p>
<p><%= review.summary %></p>
<% end %>


